# Environment variables
.env
.env.*
!.env.example
backend/.env

# Build outputs
dist
dist-ssr
frontend/dist
backend/dist

# Dependencies & Logs
node_modules
frontend/node_modules
backend/node_modules
logs
*.log

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?
